*.DS_Store
njoy_xs
chi_xs
*.r
*.o
*tape*
*runNJOY*
*.log
*__pycache__
archive

.idea/


njoy_automate2/NJOY_INPUT.txt
njoy_automate2/output
njoy_xs/
__pycache__

njoy_converter2/output.cxs


njoy_runner/output
njoy_runner/NJOY_INPUT.txt

*.csx
*.njoy
*.png
output/testing/NJOY_INPUT.txt
